@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

button:focus {
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #ca5252;
}

.title {
  text-align: center;
  color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
}

.container-fluid .limit-box {
  padding: 15px;
}

@media (min-width: 400px) {
  .container-fluid {
    border-radius: 10px;
    width: 390px;
    box-sizing: border-box;
  }
}

.col {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.config-container button {
  width: 20%;
  margin-left: 80%;
}

.clock-container, .stage-container {
  margin-top: 20px;
}

.btn-container {
  margin-bottom: 20px;
}

.btn-container button {
  border: 0;
}

.btn-container button:hover {
  cursor: pointer;
}

.btn-container button:active {
  transform: scale(.95);
}

.stage-container {
  font-size: .6em;
}

.active-stage {
  color: red;
}